@inherits LayoutComponentBase


<div class="layout-vazio-container">
    @Body
</div>

<style>
    html, body {
        height: 100%;
        margin: 0;
    }
    
    .layout-vazio-container {
        min-height: 100vh;
        width: 100%;
    }
</style>