<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ProjetoFaturacao</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Fornecedores/Ver">
                <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span> Fornecedores
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Clientes/Ver">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Clientes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Produtos/Ver">
                <span class="bi bi-box-seam-fill-nav-menu" aria-hidden="true"></span> Produtos
            </NavLink>
        </div>
    </nav>
</div>

